
#dl_search {
    float:right;
    font-size:13px;
}

.table_name {
    width: 450px;
    overflow: hidden;
}

.table_name a {
    text-decoration:none;
    display:block;
    padding: 10px;
    vertical-align:center;
}



#dl_search_big #dl_search_box  {
    width:300px;
}

.dl_table table td {
    border-bottom:solid lightgrey 1px;
    padding:2px 5px;
}


.table_star, .table_lang, .table_dl_link {
    text-align:center;
}

.dl_table table {
    width:690px;
    /* border:solid lightgrey 1px; */
    border-collapse:collapse;
    margin-bottom:1em;
}

.dl_table th {
    background-color:#E0E0E0;
    height:35px;
}

#dl_wrapper {
    font-size:14px;
}

#dl_controls {
    padding:20px;
    font-size:1.5em;
}

#dl_controls select {
    width: 112px;
}

#dl_controls span {
    margin-left:20px;
}

.table_row_odd {
    background:#F5F5F5;
}

.table_row:hover {
    background-color:#EEE;
}




