#dl_search {
	float: right;
	font-size: 16px;
}

#dl_search_big {
	float: left; /*make it shrink to the right size*/
}

#dl_search form {
	padding: 0;
}

.search_round {
	border: solid 1px #C0C0C0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background-image: url(files/search.png);
	background-position: 6px 5px;
	background-repeat: no-repeat;
	padding: 0;
	font-size: 12px;
	margin: 0;

	-webkit-box-shadow: 3px 3px 3px #CACACA;
	box-shadow: 3px 3px 3px #CACACA;
}

#dl_search_box {
	background-color: transparent;
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 30px;
	font-size: 14px;
	height: 20px;
	border: none;
}

#dl_search_big #dl_search_box {
	width: 300px;
}

#search_go {
	font-size: 12px;
	color: #FFF;
	height: 30px;
	padding: 0 10px;
	margin: 0;
	border: 0;
	background-color: #7098D3;
	overflow: hidden;

}

#search_go:hover {
	background-color: #1C467F;
}

#search_go:active {
	/* padding-top: 2px; */
}

.table_fav {
	padding: 4px;
}

.table_name {
	width: 400px;
	overflow: hidden;
}

.table_name a {
	/* text-decoration: none;
	 */
display: block;
	padding: 10px;
	vertical-align: middle;
}

.dl_table table td {
	border-bottom: solid lightgrey 1px;
	padding: 2px 13px;
}

.table_fav,.table_lang,.table_dl_link {
	text-align: center;
}

.table_lang {
	font-size: 13px;
}

.lang_hide {
	height: 35px;
	overflow: hidden;
}

#main_content .dl_table table {
	width: 690px; /* border: solid lightgrey 1px;
	 */
    border-collapse: collapse;
	margin-bottom: 1em;
}

#full_width .dl_table table {
	width: 960px; /* border: solid lightgrey 1px;
	 */
    border-collapse: collapse;
	margin-bottom: 4em;
}

.table_fav a {
	margin: 0 auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.50;
	width: 24px;
	height: 24px;
	display: block;
	background: url(files/heart_sprite.png) 24px 1px;
}

a.favd {
	background: url(files/heart_sprite.png) 0 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1 !important;
}

.table_fav a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	/* margin-bottom: 2px; */
}

.table_fav a:active {
	margin-top: 4px;
}

.dl_table th {
	/* background-image: url(files/row_bg.png);
	 */
/* background-color: #E0E0E0;
	 */
border-bottom: 2px solid;
	border-color: #636B75;
	height: 35px;
}

#dl_wrapper {
	font-size: 14px;
}

#dl_controls {
	padding: 20px;
	font-size: 1.5em;
}

#dl_controls select {
	width: 112px;
}

#dl_controls span {
	margin-left: 20px;
}

.table_row_odd {
	background-color: #F4F6FA;
}

.table_row {
	/* border-left: 1px solid #EEE;
	 */
/* border-right: 1px solid #EEE;
	 */
/* background-image: url(files/row_bg.png);
	 */
}

#to_top {
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}

#dl_loading {
	padding: 5em;
	text-align: center;
}

#reload_img {
    text-align:center;
    display:block;
    background-color:lightgrey;
    width: 130px;
    margin:20px auto;
}

#reload_img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.50;

}

