#downloads-header {
    margin:20px;
    padding:0px;
    width:650px;
    border-left:2px grey solid;
    border-right:2px grey solid;
}

.dl-footer {
    width:650px;
    border-bottom:2px grey solid;
    border-left:2px grey solid;
    border-right:2px grey solid;
}

#downloads-list {
    padding:0px;
    margin:0px;
    width:650px;
    border-left:2px grey solid;
    border-right:2px grey solid;
}

.category {
    font-size:20px;
    margin:0px;
    padding:10px;
    list-style: none;
    border-bottom:1px lightgrey solid;
}

.category a {
    color:black
}

.category a:hover {
    color:blue;
}


.download-item {
    font-family:sans-serif;
    font-size:13px;
    margin:10px;
    padding:0;
    list-style: none;
    border-bottom:1px lightgrey solid;
}

.download-item a {
    color:black;
    padding:6px;
    line-height:2;
}

.num-results {
    float:right;
}


.lang-button, .file-info {
    float:right;
    text-align:left;
    background-color:lightgrey;
    padding:4px 15px;
    line-height: 1.4; 
    margin:0;
}

.file-info { width:24px;}


.lang-button {
    width:82px;
    color:white;
    background-color:darkgrey;
    background-image: url("files/arrow_down.png");
    background-position: 90px 6px;
    background-repeat: no-repeat;
    color: black;
}

.lang-button-hover {
    background-color:lightblue;
    cursor:pointer;
}


.cat-list {
    display:none;
    font-size:0.7em;
    /* background-color:#F5F5F5; */
    margin:0;
    padding:0;
}

.none-found {
    display:none;
    list-style: none;
    padding:10px;
    text-align:center;
    font-style:italic;
}

.lang-list a {
    line-height:1;
}
.lang-list {
    margin: 0;
    padding:0;
    display:none;
    background-color:#F7F7F7;
}

.lang-list li {
    float:left;
    width:120px;
    padding:5px;
    margin:0 10px;
    border-left:solid lightgrey 1px;
    list-style: none;
}

#dl-filter {
    text-size:18px;
    padding: 10px 10px;
    margin:0;
    width:630px;
    border-bottom:solid lightgrey 2px;
    border-left:2px grey solid;
    border-right:2px grey solid;
    border-top:2px grey solid;

}

#file-search  {
    width:200px;

}

#hide-all-button {
    float:right
}
